.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ead097;
  width: 1440px;
  height: 4585px;
  position: relative;
  overflow: hidden;
}
.rectangle-17 {
  background: #ead097;
  width: 1440px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 3169px;
}
.ekstrakurikuler {
  background: #d0a84e;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 3219px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.program-unggulan-prodistik-fun-english-club {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 573px;
  top: 3389px;
  width: 375px;
  height: 157px;
}
.program-unggulan-prodistik-fun-english-club-span {
  color: #000000;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.program-unggulan-prodistik-fun-english-club-span2 {
  color: #000000;
  font-family: "Kanit-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.program-unggulan-prodistik-fun-english-club-span3 {
  color: #000000;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.program-unggulan-prodistik-fun-english-club-span4 {
  color: #000000;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.kegiatan-ekstrakurikuler-futsal-pmr-paduan-suara-banjari-karya-ilmiah-remaja-robotika-jurnalistik-volly-pramuka-tata-boga-paskibra-bulu-tangkis-tenis-meja-qiro-ah-tari-videografi-atletik-pencak-silat {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 81px;
  top: 3426px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kegiatan-ekstrakurikuler-futsal-pmr-paduan-suara-banjari-karya-ilmiah-remaja-robotika-jurnalistik-volly-pramuka-tata-boga-paskibra-bulu-tangkis-tenis-meja-qiro-ah-tari-videografi-atletik-pencak-silat-span {
  color: #000000;
  font-family: "Kanit-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.kegiatan-ekstrakurikuler-futsal-pmr-paduan-suara-banjari-karya-ilmiah-remaja-robotika-jurnalistik-volly-pramuka-tata-boga-paskibra-bulu-tangkis-tenis-meja-qiro-ah-tari-videografi-atletik-pencak-silat-span2 {
  color: #000000;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.kegiatan-ekstrakurikuler-futsal-pmr-paduan-suara-banjari-karya-ilmiah-remaja-robotika-jurnalistik-volly-pramuka-tata-boga-paskibra-bulu-tangkis-tenis-meja-qiro-ah-tari-videografi-atletik-pencak-silat-span3 {
  color: #000000;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.screenshot-2024-01-18-160345 {
  width: 500px;
  height: 255px;
  position: absolute;
  left: 884px;
  top: 3501px;
  box-shadow: 8px 9px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.screenshot-2024-01-18-160346 {
  width: 500px;
  height: 256px;
  position: absolute;
  left: 884px;
  top: 3892px;
  box-shadow: 8px 9px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.screenshot-2024-01-18-160347 {
  width: 500px;
  height: 255px;
  position: absolute;
  left: 351px;
  top: 3714px;
  box-shadow: 8px 9px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.ekstrakurikuler2 {
  color: #ffffff;
  text-align: left;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 73px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 302px);
  top: 3284px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.visi-misi {
  background: #0c356a;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 2146px;
}
.misi-meningkatkan-kualitas-pendidikan-yang-berorientasi-pada-penghayatan-keimanan-ketaqwaan-kecerdasan-dan-keterampilan-mewujudkan-perilaku-warga-madrasah-yang-peduli-terhadap-pencegahan-pencemaran-menjaga-lingkungan-dari-kerusakan-serta-melestarikannya-mengembangkan-kemampuan-peserta-didik-dalam-berbahasa-arab-berbahasa-inggris-dan-penelitian-mewujudkan-lingkungan-madrasah-yang-bersih-dan-sehat-sebagai-sumber-belajar-yang-menyenangkan-membangun-citra-madrasah-sebagai-mitra-terpercaya-masyarakat-menciptakan-lingkungan-madrasah-yang-rindang-untuk-menuju-madrasah-adiwiyata {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 685px;
  top: 2549px;
  width: 699px;
  height: 583px;
}
.misi-meningkatkan-kualitas-pendidikan-yang-berorientasi-pada-penghayatan-keimanan-ketaqwaan-kecerdasan-dan-keterampilan-mewujudkan-perilaku-warga-madrasah-yang-peduli-terhadap-pencegahan-pencemaran-menjaga-lingkungan-dari-kerusakan-serta-melestarikannya-mengembangkan-kemampuan-peserta-didik-dalam-berbahasa-arab-berbahasa-inggris-dan-penelitian-mewujudkan-lingkungan-madrasah-yang-bersih-dan-sehat-sebagai-sumber-belajar-yang-menyenangkan-membangun-citra-madrasah-sebagai-mitra-terpercaya-masyarakat-menciptakan-lingkungan-madrasah-yang-rindang-untuk-menuju-madrasah-adiwiyata-span {
  color: #ffffff;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.misi-meningkatkan-kualitas-pendidikan-yang-berorientasi-pada-penghayatan-keimanan-ketaqwaan-kecerdasan-dan-keterampilan-mewujudkan-perilaku-warga-madrasah-yang-peduli-terhadap-pencegahan-pencemaran-menjaga-lingkungan-dari-kerusakan-serta-melestarikannya-mengembangkan-kemampuan-peserta-didik-dalam-berbahasa-arab-berbahasa-inggris-dan-penelitian-mewujudkan-lingkungan-madrasah-yang-bersih-dan-sehat-sebagai-sumber-belajar-yang-menyenangkan-membangun-citra-madrasah-sebagai-mitra-terpercaya-masyarakat-menciptakan-lingkungan-madrasah-yang-rindang-untuk-menuju-madrasah-adiwiyata-span2 {
  color: #ffffff;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.visi-visi-madrasah-aliyah-negeri-2-gresik-madrasah-islami-terampil-populis-berbasis-digital-dan-mendunia {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 683px;
  top: 2379px;
  width: 647px;
  height: 141px;
}
.visi-visi-madrasah-aliyah-negeri-2-gresik-madrasah-islami-terampil-populis-berbasis-digital-dan-mendunia-span {
  color: #ffffff;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.visi-visi-madrasah-aliyah-negeri-2-gresik-madrasah-islami-terampil-populis-berbasis-digital-dan-mendunia-span2 {
  color: #ffffff;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.rectangle-10 {
  background: #d9d9d9;
  border-radius: 28px;
  width: 259px;
  height: 630px;
  position: absolute;
  left: 361px;
  top: 2399px;
}
.rectangle-12 {
  background: #ffc436;
  border-radius: 28px;
  width: 258px;
  height: 465px;
  position: absolute;
  left: 53px;
  top: 2466px;
}
.rectangle-11 {
  background: #d9d9d9;
  border-radius: 28px;
  width: 259px;
  height: 630px;
  position: absolute;
  left: 83px;
  top: 2399px;
}
.rectangle-16 {
  background: #ead097;
  width: 1440px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 2093px;
}
.visi-dan-misi {
  color: #ffffff;
  text-align: left;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 73px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 216px);
  top: 2222px;
}
.berita-terkini {
  position: absolute;
  inset: 0;
}
.berita-terkini2 {
  background: #0174be;
  padding: 41px 36px 41px 36px;
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 1073px;
  overflow: hidden;
}
.berita-terkini3 {
  color: #ffffff;
  text-align: left;
  font-family: "Kanit-Regular", sans-serif;
  font-size: 77px;
  font-weight: 400;
  position: relative;
}
.frame-4 {
  padding: 0px 7px 0px 7px;
  flex-shrink: 0;
  width: 1355px;
  height: 772px;
  position: relative;
}
.frame-2 {
  width: 1341px;
  height: 367px;
  position: absolute;
  left: 7px;
  top: 0px;
}
.rectangle-1 {
  background: #d9d9d9;
  border-radius: 41px;
  width: 395px;
  height: 367px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #d9d9d9;
  border-radius: 41px;
  width: 395px;
  height: 367px;
  position: absolute;
  left: 473px;
  top: 0px;
}
.rectangle-3 {
  background: #d9d9d9;
  border-radius: 41px;
  width: 395px;
  height: 367px;
  position: absolute;
  left: 946px;
  top: 0px;
}
.rectangle-4 {
  background: #ffc436;
  border-radius: 41px;
  width: 142px;
  height: 138px;
  position: absolute;
  left: 965px;
  top: 207px;
}
.rectangle-5 {
  background: #ffc436;
  border-radius: 41px;
  width: 142px;
  height: 138px;
  position: absolute;
  left: 489px;
  top: 207px;
}
.rectangle-6 {
  background: #ffc436;
  border-radius: 41px;
  width: 142px;
  height: 138px;
  position: absolute;
  left: 13px;
  top: 207px;
}
.frame-3 {
  width: 1341px;
  height: 367px;
  position: absolute;
  left: 7px;
  top: 405px;
}
.rectangle-7 {
  background: #ffc436;
  border-radius: 41px;
  width: 142px;
  height: 138px;
  position: absolute;
  left: 13px;
  top: 208px;
}
.rectangle-8 {
  background: #ffc436;
  border-radius: 41px;
  width: 142px;
  height: 138px;
  position: absolute;
  left: 487px;
  top: 208px;
}
.rectangle-9 {
  background: #ffc436;
  border-radius: 41px;
  width: 142px;
  height: 138px;
  position: absolute;
  left: 961px;
  top: 208px;
}
.rectangle-15 {
  background: #ead097;
  width: 1440px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 1024px;
}
.landing-page {
  background: #e49e9e;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar {
  width: 1440px;
  height: 110px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar2 {
  background: #ffc436;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.19);
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 37px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 6.46%;
  left: 40.9%;
  width: 52.64%;
  bottom: 30.91%;
  top: 37.27%;
  height: 31.82%;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: relative;
}
.berita-terkini4 {
  color: #ffffff;
  text-align: left;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: relative;
}
.visi-misi2 {
  color: #ffffff;
  text-align: left;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: relative;
}
.ekstrakurikuler3 {
  color: #ffffff;
  text-align: left;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: relative;
}
.ppdb-man-2-gresik {
  color: #ffffff;
  text-align: left;
  font-family: "JockeyOne-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: relative;
}
.image-8 {
  width: 81px;
  height: 81px;
  position: absolute;
  left: 147px;
  top: 14px;
  object-fit: cover;
}
.madrasah-aliyah-negeri-2-gresik {
  color: #ffffff;
  text-align: left;
  font-family: "Kanit-Bold", sans-serif;
  font-size: 27px;
  font-weight: 700;
  position: absolute;
  left: 249px;
  top: 15px;
}
.footer {
  position: absolute;
  inset: 0;
}
.rectangle-13 {
  background: #ffc231;
  width: 1440px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 4270px;
}
.image-3 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 500px;
  top: 4353px;
  object-fit: cover;
}
.image-4 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 612px;
  top: 4353px;
  object-fit: cover;
}
.image-5 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 556px;
  top: 4353px;
  object-fit: cover;
}
.image-6 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 668px;
  top: 4356px;
  object-fit: cover;
}
.untuk-informasi-lebih-lanjut {
  color: #010101;
  text-align: left;
  font-family: "KaiseiDecol-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 65px;
  top: 4306px;
}
.email-madrasah-man-2-gresik-sch-id {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 4353px;
}
.email-madrasah-man-2-gresik-sch-id-span {
  color: #000000;
  font-family: "Jura-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.email-madrasah-man-2-gresik-sch-id-span2 {
  color: #000000;
  font-family: "Jura-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.telp-031-7993264 {
  color: #000000;
  text-align: left;
  font-family: "Jura-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 66px;
  top: 4379px;
}
.alamat-jl-raya-metatu-no-7-jogodalu-metatu-kec-benjeng-kabupaten-gresik-jawa-timur-61172 {
  color: #060606;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 66px;
  top: 4406px;
  width: 1078px;
}
.alamat-jl-raya-metatu-no-7-jogodalu-metatu-kec-benjeng-kabupaten-gresik-jawa-timur-61172-span {
  color: #060606;
  font-family: "Jura-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.alamat-jl-raya-metatu-no-7-jogodalu-metatu-kec-benjeng-kabupaten-gresik-jawa-timur-61172-span2 {
  color: #060606;
  font-family: "Jura-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.sosial-media {
  color: #000000;
  text-align: left;
  font-family: "KaiseiDecol-Medium", sans-serif;
  font-size: 29px;
  font-weight: 500;
  position: absolute;
  left: 500px;
  top: 4300px;
}
.madrasah-hebat-bermartabat {
  color: #ffffff;
  text-align: left;
  font-family: "K2D-Bold", sans-serif;
  font-size: 57px;
  font-weight: 700;
  position: absolute;
  left: 824px;
  top: 4321px;
}
.rectangle-14 {
  background: #1855a5;
  width: 1440px;
  height: 66px;
  position: absolute;
  left: 0px;
  top: 4519px;
}
.rectangle-18 {
  background: #ead097;
  width: 1440px;
  height: 51px;
  position: absolute;
  left: -2px;
  top: 4244px;
}